@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);

    /* Fonts */
    --font-alata: 'Alata', sans-serif;
    --font-josefin: 'Josefin Sans', sans-serif;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: var(--font-alata);
    font-weight: 400;
    color: var(--black);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-josefin);
    text-transform: uppercase;
}

a {
    font: inherit;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

button {
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.container {
    max-width: 340px;
    margin: 0 auto;
}


/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
    background: url("./images/mobile/image-hero.jpg") no-repeat center/cover;
    min-height: 100vh;
    /* position: relative; */
}
header container-header {
    max-width: 340px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header nav .logo {
    width: 144px;
    z-index: 10;
    padding: 0 24px;
    
}

/* Burger menu START */
header nav .menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    /* height: 0; */
    visibility: hidden;
    opacity: 0;
    padding-top: 159px;
    transition: all 0.3s ease-in-out;
}

header nav .menu.overlay {
    visibility: visible;
    opacity: 1;
    background: var(--black);
    padding-left: 24px;
  }

header nav .menu a {
    text-transform: uppercase;
    font-size: 24px;
    font-family: var(--font-josefin);
    margin-bottom: 24px;
}

#burger-menu {
    cursor: pointer;
    height: 24px;
    width: 24px;
    overflow: visible;
    position: relative;
    z-index: 2;
    margin-right: 24px;
}

#burger-menu span::before,
#burger-menu span::after {
    content: "";
}
#burger-menu span,
#burger-menu span::before,
#burger-menu span::after {
    background: var(--white);
    display: block;
    width: 24px;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#burger-menu span:before {
    left: 0px;
    top: -10px;
}
#burger-menu span {
    right: 0px;
    top: 13px;
}
#burger-menu span:after {
    left: 0px;
    top: 10px;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 24px;
}
#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 24px;
}
#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

/* Burger menu END */

/* heading title */
header .heading-title {
    padding: 20px;
}
header h1 {
    color: var(--white);
    font-size: 40px;
    font-weight: 300;
    border: 1px solid var(--white);
    padding: 24px;
    
    position: absolute;
    /* right: 0; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* -------------------------------------------------------------------------- */
/*                             SECTION INTERACTIVE                            */
/* -------------------------------------------------------------------------- */
.interactive {
    margin-top: 100px;
    text-align: center;
}
.interactive-description {
    padding: 24px;
}

.interactive-description h2 {
    margin-top: 48px;
    font-size: 32px;
}



.interactive-description .interactive-text {
    margin-top: 16px;
    color: hsla(0, 0%, 0%, 50%);
    line-height: 25px;
}

/* -------------------------------------------------------------------------- */
/*                              SECTION CREATION                              */
/* -------------------------------------------------------------------------- */
.creations {
    margin: 100px 0;
    display: grid;
    gap:24px;
}

.creations h2 {
    text-align: center;
    font-size: 32px;
    /* margin-bottom: 24px; */
}

.creations .cta {
    border: 1px solid var(--black);
    text-transform: uppercase;
    padding: 13px 38px;
    letter-spacing: 5px;
    font-size: 14px;
    transition: all 250ms ease-in-out;
    order: 1;
    width: 50%;
    margin-inline: auto;
    margin-top: 34px;
}

.creations .cta:hover {
    background-color: var(--black);
    color: var(--white);
}

.creations .image-box {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 20px;
    /* margin-bottom: 24px; */
    cursor: pointer;
    
}

.creations .image-box::after {
    content: "";
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(0,0,0,0.01) 19%, rgba(0,0,0,0.69) 100%);
}
.creations .img-title {
    color: var(--white);
    z-index: 40;
    font-size: 24px;
    font-weight: lighter;
}

.creations .img-title .title-break {
    display: block;
}

.creations .bg1 {
    background: url('./images/mobile/image-deep-earth.jpg') no-repeat center/cover;
}
.creations .bg2 {
    background: url('./images/mobile/image-night-arcade.jpg') no-repeat center/cover;
    
}
.creations .bg3 {
    background: url('./images/mobile/image-soccer-team.jpg') no-repeat center/cover;
}
.creations .bg4 {
    background: url('./images/mobile/image-grid.jpg') no-repeat center/cover;
}
.creations .bg5 {
    background: url('./images/mobile/image-from-above.jpg') no-repeat center/cover;
}
.creations .bg6 {
    background: url('./images/mobile/image-pocket-borealis.jpg') no-repeat center/cover;
}
.creations .bg7 {
    background: url('./images/mobile/image-curiosity.jpg') no-repeat center/cover;
}
.creations .bg8 {
    background: url('./images/mobile/image-fisheye.jpg') no-repeat center/cover;
}


/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
    background-color: var(--black);
    color: var(--white);
}
